@import '../../../../styles/global';

.dependencyContainer{

  //background-color: #3f3b6a; // MKOP 2025/09/16 controlled by palette settings

    .btn-addDependency{
        @include button();
        width: 85%;
        margin-top: 2em;
        margin-bottom: 2em;
    }
  
    
    .dependencyWrapper{
        width: 100% !important;
        box-sizing: border-box;
    }
    
}

